@model Team_1_Project.Models.coreValuesRecognition

@{
    ViewBag.Title = " Recognition Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Recognized Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognized.fullName)
        </dd>

        <dt>
            Recognizor Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizor.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizationDate)
        </dd>

        <dt>
            Custom Recognition
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customRecognition)
        </dd>

    </dl>
    
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
