@model Team_1_Project.Models.userData

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>
        @*<dt>
            @{ var total = ViewBag.total;

            }
            
        </dt>
        <dd>
            Total recognitions received = @total
        </dd>*@

    </dl>
</div>

<table class="table table-striped">
    <tr>
        <th>
            @{ var total = ViewBag.total;}
            Total recognitions received = @total
        </th>
        <th>
            @{ var excellence = ViewBag.Excellence;}
            Excellence awards = @excellence

        </th>
        <th>
            @{ var integrity = ViewBag.Integrity;}
            Integrity awards = @integrity
        </th>
    <th>
        @{ var stewardship = ViewBag.Stewardship;}
        Stewardship awards = @stewardship
    </th>
    <th>
        @{var innovate = ViewBag.Innovate; }
        Innovate awards = @innovate
    </th>

    <th>
        @{ var balance = ViewBag.Balance;}
        Balance awards = @balance
    </th>
        <th>
        </th>







    </tr>

</table>


    @*//var total = ViewBag.total;*@
    <!--var excellence = ViewBag.Excellence;
    var integrity = ViewBag.Integrity;
    var stewardship = ViewBag.Stewardship;
    var innovate = ViewBag.Innovate;
    var balance = ViewBag.Balance;
}-->

@*//<h2>Total recognitions received = @total</h2>*@
<!--<h3>Excellence awards = @excellence</h3>
<h3>Integrity awards = @integrity</h3>
<h3>Stewardship awards = @stewardship</h3>
<h3>Innovate awards = @innovate</h3>
<h3>Balance awards = @balance</h3>-->


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
